<div class="container">
	<%= image_tag @user.avatar.url, :size => "150x150" %><br><br>
	<h4><%= @user.fname.capitalize %><span> </span><%= @user.lname.capitalize %></h4>
	<h1>Dashboard</h1>	
	<h3>Details:</h3>
	<table class="table-striped table-hover table-condensed table-responsive">
		<tr>
			<th>Username</th>
			<td><%= @user.uname %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>Mobile</th>
			<td><%= @user.mobile %></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @user.address %></td>
		</tr>
		<tr>	
			<th>DOB</th>
			<td><%= @user.dob %></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><%= @user.gender %></td>
		</tr>
	</table>

	<h3>Leave Section:</h3>
	<% @sum = 0 %>

	<% if @user.leaves.present? %>
		<h4>Previous Leaves:</h4>
		<table class="table-striped table-hover table-condensed table-responsive">
			<tr>
				<th>Day Count</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Leave Type</th>
				<th>Description</th>
				<th>Status</th>
				<th>Operation</th>
			</tr>
			<% @leaves.each do |l| %>
				<tr>
					<td><%= (l.sdate.business_days_until(l.edate)).to_i + 1 %></td>
					<td><%= l.sdate %></td>
					<td><%= l.edate %></td>
					<td><%= l.leave_type %></td>
					<td><%= l.description %></td>
					<td>
						<% if l.status == 'Approved' %>
							<span style="color: darkgreen;"><strong><%= l.status %></strong></span>
						<% end %>	
						<% if l.status == 'pending' %>
							<span style="color: orange;"><strong> Pending </strong></span>
						<% end %>	
						<% if l.status == 'Denied' %>
							<span style="color: red;"><strong> Denied </strong></span>
						<% end %>	
					</td>
					<td>
						<% if l.status == 'pending' %>
							<%= button_to 'Cancel', user_leave_path(user_id: l.user_id, id: l.id), remote: true, :class => "btn-warning", :method => :delete, data: { confirm: 'Are you sure to cancel your leave Application??' } %>
							<% elsif l.status == 'Approved' %>
								<strike style="color: darkgreen"><%= l.status %></strike>
							<% else %>
								<strike style="color: red"><%= l.status %></strike>
							<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	<% else %>
		<%= @user.fname.capitalize %> has taken no leaves
	<% end %>
	<h4>Leave Balance:</h4>
	<table class="table-striped table-hover table-condensed table-responsive">
		<tr>
			<th colspan="3">Leave days left</th>
		</tr>
		<tr>
			<td>Casual leave: <%= @user.user_leave_distribution.c_leave %></td>
			<td>Priviledge leave: <%= @user.user_leave_distribution.p_leave %></td>
			<td>Sick/ Medical leave: <%= @user.user_leave_distribution.s_leave %></td>
		</tr>
	</table>
	<h5><%= link_to 'Apply', new_user_leave_path(@user.id)%> for Leave</h5>
</div>