<div class="container">	
	<%= link_to 'Back to User List', admin_users_path %><br>
	<h1>Showing details of <%= @user.fname %> <%= @user.lname %>: </h1>
	<% if User.present? %>
		<table class="table-striped table-hover table-condensed table-responsive">
			<tr>
				<th>Firstname</th>
				<td><%= @user.fname %></td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td><%= @user.lname %></td>
			</tr>
			<tr>
				<th>Username</th>
				<td><%= @user.uname %></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= @user.email %></td>
			</tr>
			<tr>
				<th>Mobile</th>
				<td><%= @user.mobile %></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><%= @user.address %></td>
			</tr>	
			<tr>
				<th>DOB</th>
				<td><%= @user.dob %></td>
			</tr>
			<tr>
				<th>Gender</th>
				<td><%= @user.gender %></td>
			</tr>
			<tr>
				<th>Total Leaves</th>
				<td><%= @user.total_leave %></td>
			</tr>
			<tr>	
				<th>Leaves left</th>
				<td><%= @user.leave_left %></td>
			</tr>		
		</table>
	<% end %>
	<br>
	<p><%= link_to 'View', admin_user_leaves_path(@user) %> <%= @user.fname %> <%= @user.lname %>'s leaves in detail </p>
</div>